<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{% block title %}{{_('Crystals')}}{% end %}</title>
		<style>{% block style %}{% end %}</style>
	</head>
	<body>
		{% module NavBarModule() %}
		<div class="container-fluid">
			{% block body %}{% end %}
		</div>
	</body>
	{% block scripts %}{% end %}
</html>

