<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>404: Not Found</title>
		<style>
			.bordered {
				border: 4px double #808080;
				padding: 10px;
				margin: 2px;
				display: inline-block;
				position: relative;
			}
			#id_error {
				border: 3px double red;
				position: absolute;
				top: 10px;
				left: 50%;
				width: 300px;
				margin-left: -150px;
			}
		</style>
	</head>
	<body>
		<div style="float: right"><a href="/logout/">Logout</a></div>
		<div class="bordered" style="width: 97%;">
			<h1>Page not found</h1>
			<div id="id_error"><p style="text-color:red">{{error}}</p></div>
		</div>
	</body>
</html>
