{% extends "base.xhtml" %}
{% block title %}{{_('Crystals')}}: {{_('Inventory')}}{% end %}
{% block body %}
<h1>{{_('Inventory')}}</h1>
<div class="bordered">
	{% module NewProcess(alchemist.bowls) %}
</div>
<div class="bordered">
	<label for="powders_list">{{_('Powders')}}:</label>
	<ul id="powders_list">
		{% for powder in alchemist.powders %}{% module InventoryPowder(powder) %}{% end %}
	</ul>
</div>
<div class="bordered">
	<label for="crystals_list">{{_('Crystals')}}:</label>
	<ul id="crystals_list">
		{% for crystal in alchemist.crystals %}{% module InventoryCrystal(crystal) %}{% end %}
	</ul>
</div>
<div class="bordered">
	{% module WalletModule() %}
</div>
{% end %}
