{% extends "base.xhtml" %}
{% block title %}{{_('Crystals')}}: {{_('Jeweler')}}{% end %}
{% block style %}
input[type=number] {
	width: 35px;
}
li span {
	display: table-cell;
	padding-left: 2px;
}
{% end %}
{% block body %}
<ul class="nav nav-tabs" id="id_market_tabs">
	<li><a href="/market/" id="id_bowl_shop">{{_('Bowls')}}</a></li>
	<li><a href="/market/powders/" id="id_powder_shop">{{_('Powders')}}</a></li>
	<li class="active"><a href="/market/jeweler/" id="id_jeweler_shop">{{_('Jeweler')}}</a></li>
</ul>
<div class="pull-right">{% module WalletModule() %}</div>
<h1>{{_('Jeweler')}}</h1>
<form role="form" action="{{action}}">
	<div class="panel panel-default">
		<div class="panel-body">
		<ul id='id_crystals' style="display:table">
			{% for crystal in alchemist.crystals %}
				{% module MarketCrystal(crystal) %}
			{% end %}
			{% if alchemist.crystals %}
			<li style="display:table-caption; caption-side: bottom;">
				<a href='#' onclick="sell_all($('#id_crystals')); return false;">Mark all crystals for sale</a>
			</li>
			{% else %}
			<li style="display: table-caption;">No&nbsp;crystals&nbsp;for&nbsp;sale</li>
			{% end %}
		</ul>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<label id="id_total_label" for="id_total">You will get</label>
		</div>
		<div class="panel-body">
			<p id="id_total">-</p>
			<input type='submit' value='Trade' id="id_trade"/>
		</div>
	</div>
</form>
{% end %}
{% block scripts %}
<script src="/static/jquery.min.js"></script>
<script src="/static/sockjs-0.3.min.js"></script>
<script src="/static/market.js"></script>
<script>
var sock = new SockJS('http://' + window.location.host + '/market_preview/');
sock.onopen = function () { console.log("connected"); };
sock.onclose = function () { console.log("connection lost"); };
sock.onmessage = function (e) {
	response = JSON.parse(e.data);
	if (response.type == 'preview') {
		$('#id_total_label').text(response.data.label);
		$('#id_total').text(response.data.coins);
	}
};

$('input[name="c"]').add($('input[name="p"]')).add($('input[name="u"]')).on('change keyup', function () {
	var crystals = gather_list($('#id_crystals'));
	var powders = [];
	var upgrades = [];
	sock.send(JSON.stringify({'type': 'preview', 'data': {'c': crystals, 'p': powders, 'u': upgrades}}));
});

$('#id_crystals a').click(function () {
	var row = $(this).closest('li');
	var input = row.find('input[name="c"]');
	input.val(input.attr('max')).change();
	return false;
});
</script>
{% end %}
