{% from crystals.utilities import time_str %}
<div class="process" data-id="{{num}}">
	<div class="process_desc">{{_(process.color).capitalize()}}</div>
	{% if process.finished %}
		<button class="collect"></button>
	{% else %}
		<div class="process_time">{{time_str(process.time_left, True)}}</div>
		<button class="cancel"></button>
	{% end %}
</div>
