{% extends "base.xhtml" %}
{% block title %}{{_('Crystals')}}: {{_('Laboratory')}}{% end %}
{% block style %}
.panel {
    position:relative;
}
.panel-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}
{% end %}
{% block scripts %}
<script language="javascript" src="/static/laboratory.js"></script>
<script language="javascript">$(window).resize(resize_stuff);</script>
{% end %}
{% block body %}
<div class="row">
	{% for num, process in enumerate(alchemist.processes) %}{% module LabProcess(num, process) %}{% end %}
	{% module LabNewProcess(alchemist.bowls) %}
</div>
{% end %}
