<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{{_('Welcome')}}</title>
	</head>
	<body>
		<div class="navbar navbar-default" role="navigation">
			<div class="container-fluid"><div class="navbar-header">{% module LanguageSwitch() %}</div></div>
		</div>
		<div class="container-fluid"><div class="row">
		<div class="col-sm-4 col-md-3 col-lg-2">
			<h1>{{_('Welcome')}}<br /><small>{{_('Please login')}}</small></h1>
			<ul>
				{% for provider, (name, _x) in providers.items() %}
				<li><a href="?next={{url_escape(return_to)}}&provider={{provider}}">{{name}}</a></li>
				{% end %}
			</ul>
		</div>
		<div class="container-fluid col-sm-8 col-md-offset-1 col-lg-6 col-lg-offset-4"><div class="panel panel-info"><div class="panel-body">
			<p><i>Crystals</i> is a new free game where you play as an Alchemist growing magical crystals in your own laboratory. The crystals are growing in real time and the process is emulating a real crystal growth.</p>
			<p>The game is simple &ndash; you buy special powders on market, dissolve them in water, pour the solution into alchemic bowl and if several hours you can collect grown crystals. Crystals then are sold on market and earned money could be spent on equipment upgrades and on powders for new crystals.</p>
			<p>The game is fun and simple: there are detailed explanations describing every step of the process. It is impossible to get lost even for inexperienced player.</p>
			<p>No need in creating another login and password &ndash; simply log in using <a href="http://openid.net/">OpenID</a>.</p>
			<p>If you are looking for a new game which you can play on both your computer and your phone or tablet join the <i>Crystals</i>!</p>
		</div></div></div>
		</div></div>
	</body>
</html>

