{% from crystals.market import cash_string_from_coins %}
<li style='display:table-row'>
	<span>{{powder.color.capitalize()}}</span>
	<span><input type="number" value="0" name='p' /></span>
	<span>@ {{cash_string_from_coins(powder.price)}}/gram</span>
</li>

