{% extends "base.xhtml" %}
{% block title %}{{_('Crystals')}}: {{_('Market')}}{% end %}
{% block style %}
input[type=number] {
	width: 35px;
}
li span {
	display: table-cell;
	padding-left: 2px;
}
{% end %}
{% block body %}
{% from crystals.market import POWDERS %}
<ul class="nav nav-tabs" id="id_market_tabs">
	<li class="active"><a href="/market/" id="id_bowl_shop">{{_('Bowls')}}</a></li>
	<li><a href="/market/powders/" id="id_powder_shop">{{_('Powders')}}</a></li>
	<li><a href="/market/jeweler/" id="id_jeweler_shop">{{_('Jeweler')}}</a></li>
</ul>
<div class="pull-right">{% module WalletModule() %}</div>
<h1>{{_('Bowls')}}</h1>
<form role="form" action="{{action}}">
	<div class="panel panel-default">
		<div class="panel-body">
		<ul style='display:table' id='id_upgrades'>
			<li style='display:table-row'>
				<span>Additional bowl</span>
				<span><input type="number" value="0" name='u' /></span>
				<span>@ 5G</span>
			</li>
		</ul>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<label id="id_total_label" for="id_total">You will get</label>
		</div>
		<div class="panel-body">
			<p id="id_total">-</p>
			<input type='submit' value='Trade' id="id_trade"/>
		</div>
	</div>
</form>
{% end %}
{% block scripts %}
<script src="/static/jquery.min.js"></script>
<script src="/static/sockjs-0.3.min.js"></script>
<script src="/static/market.js"></script>
<script>
var sock = new SockJS('http://' + window.location.host + '/market_preview/');
sock.onopen = function () { console.log("connected"); };
sock.onclose = function () { console.log("connection lost"); };
sock.onmessage = function (e) {
	response = JSON.parse(e.data);
	if (response.type == 'preview') {
		$('#id_total_label').text(response.data.label);
		$('#id_total').text(response.data.coins);
		$('#id_trade').prop('disabled', response.data.cant_afford);
	}
};

$('input[name="c"]').add($('input[name="p"]')).add($('input[name="u"]')).on('change keyup', function () {
	var crystals = [];
	var powders = [];
	var upgrades = gather_list($('#id_upgrades'));
	sock.send(JSON.stringify({'type': 'preview', 'data': {'c': crystals, 'p': powders, 'u': upgrades}}));
});
</script>
{% end %}
