<li style="display: table-row">
	<span>{{color.capitalize()}} {{carat}}-carat crystal</span>
	<span>{% if not count == 1 %}<a href='#'>x{{count}}</a>{% end %}</span>
	<span><input type="number" name="c" value="0" max="{{count}}" /></span>
	<span>@ {{cost}}</span>
</li>
