<div class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			{% module LanguageSwitch() %}
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
				Menu
				<span class="caret" />
			</button>
		</div>
		<div class="collapse navbar-collapse" id="navbar-collapse-1">
			<ul class="nav navbar-nav">
				{% for label, url in menu_items.items() %}
				<li {% if label == current %}class="active"{% end %}><a href='{{url}}'>{{_(label)}}</a></li>
				{% end %}
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href='#'>{{_('Settings')}}</a></li>
				<li><div><a class="btn navbar-btn btn-danger" href='/logout/'>{{_('Logout')}}</a></div></li>
			</ul>
		</div>
	</div>
</div>
