<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Preparation</title>
		<style>
			.bordered {
				border: 4px double #808080;
				padding: 10px;
				margin: 2px;
				display: inline-block;
				position: relative;
			}
			input[type=number] {
				width: 35px;
			}
			li span {
				padding: 0px 2px;
				display: table-cell;
			}
			label {
				font-weight: bold;
				font-size: 120%;
			}
		</style>
	</head>
	<body>
		{% from crystals.utilities import grams_from_molecules %}
		<div style="float: right"><a href="/logout/">Logout</a></div>
		{% module LanguageSwitch() %}
		<div class="bordered" style="width: 97%;">
			<h1>Preparation</h1>
			<form style="display: table;" action="/start/">
				<div style="display:table-row; vertical-align: bottom;">
				<div class="bordered" style="display: table-cell;">
					<label for="id_water">Water:</label>
					<div style="float:right"><input type="number" id="id_water" value="0" name="w"/>ml</div>
					<hr />
					<label for="id_seed">Seed:</label>
					<select id="id_seed" name="seed">
						<option value="-1">No seed</option>
						{% for num, crystal in enumerate(alchemist.crystals) %}
						<option value="{{num}}">{{crystal.color.capitalize()}} {{crystal.carat}}-carat crystal</option>
						{% end %}
					</select>
					<hr />
					<label for="id_powder_table">Powders:</label>
					<div id="id_powder_table" style="display:table; width:100%;">
						<li style="display:table-row">
							<span style="font-weight: bold;">Owned</span>
							<span style="font-weight: bold;">Color</span>
							<span style="font-weight: bold;">Use</span>
						</li>
						{% for powder in alchemist.powders %}
						{% set grams = "%g" % grams_from_molecules(powder.mass) %}
						<li style="display:table-row">
							<span>{{grams}}g</span>
							<span>{{powder.color}}</span>
							<span><input type="number" value="0" min="0" max="{{grams}}" name="p" data-color="{{powder.color}}"/>g</span>
						</li>
						{% end %}
					</div>
				</div>
				<div style="display: table-cell; width: 10px;"></div>
				<div class="bordered" style="display: table-cell;">
					<label for="id_solution">Solution:</label>
					<ul id="id_solution">
						<li>Bowl is empty</li>
					</ul>
					<h3>Note</h3>
					<div style="font-size:90%">
						All values will be rounded based on your equipment:
						<ul>
							<li>Water will be rounded to 10ml</li>
							<li>Powders will be rounded to 2g</li>
						</ul>
						There is also little random factor which will affect actual solution contents.
					</div>
				</div>
				</div>
				<div style="position: absolute; top: 10px; right: 10px">
					<input type="submit" value="Start evaporating" disabled="true" />
					<a href="/lab/">Cancel</a>
				</div>
			</form>
		</div>
	</body>
	<script src="/static/jquery.min.js"></script>
	<script src="/static/sockjs-0.3.min.js"></script>
	<script src="/static/preparation.js"></script>
	<script>
var sock = new SockJS('http://' + window.location.host + '/bowl_preview/');
sock.onopen = function () { console.log("connected"); };
sock.onclose = function () { console.log("connection lost"); };
sock.onmessage = function (e) {
	response = JSON.parse(e.data);
	if (response.type == 'preview')
		fill_preview($('#id_solution'), response.data);
};

$('input[name="p"]').add($('#id_water')).on('change keyup', function () {
    var powders = gather_powders($('#id_powder_table'));
    var water = +$('#id_water').val();
    sock.send(JSON.stringify({'type': 'preview', 'data': {'w': water, 'p': powders}}));
});
	</script>
</html>
